:root {
  /* Base */
  --bg: #0b0d10;          /* fundo principal */
  --panel: #10141a;       /* cards/caixas */
  --panel-2: #0f1217;     /* variação */
  --border: #1e2630;

  --text: #e7edf6;
  --muted: #a6b0bf;

  --accent: #7c5cff;      /* roxo */
  --accent-green: #22c55e; /* verde */
  --accent-blue: #38bdf8; /* azul */

  /* Estados */
  --danger: #ef4444;
  --shadow: 0 10px 30px rgba(0,0,0,.45);
}

* { box-sizing: border-box; }
html, body { height: 100%; }

body{
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
  background: var(--bg);
  color: var(--text);
}
a { color: var(--accent); }


.topbar {

  margin: 0 auto;
  background-color: var(--panel);
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 12px;
  margin-bottom: 50px;
    margin-top: 30px;

}

.title {
  padding: 10px;
}

.btn {
  width: 15%;
  height: 50px;
  margin-top: 25px;
  margin-left: 10px;
  font-size: 25px;
  
  background-color: var(--panel-2);
  color: var(--text);
  border: solid var(--border) 1px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #111418;
}

.grid {
  background-color: var(--panel);
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  /*justify-content: space-evenly;*/
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1 0 0;
}

.card {
  background-color: var(--panel-2);
  width: 150px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text);
}


/* CELULAR */

@media only screen and (max-width: 480px){
  .topbar {
    margin: 0 auto;
    background-color: var(--panel);
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    /*justify-content: space-evenly;*/
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 12px;
    margin-bottom: 50px;
  }

  .btn {
    width: 15%;
    height: 50px;
    font-size: 15px;
    
    background-color: var(--panel-2);
    color: var(--text);
    border: solid var(--border) 1px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .title {
    padding: 0px;
  }
}